body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:326px;
  top:69px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:37px;
  top:58px;
  width:70px;
  height:50px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:36px;
  width:110px;
  height:88px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:250px;
  width:750px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u16 {
  position:absolute;
  left:37px;
  top:152px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:500px;
  top:152px;
  width:187px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:38px;
  top:210px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:-1px;
  top:376px;
  width:750px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u23 {
  position:absolute;
  left:36px;
  top:278px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:499px;
  top:278px;
  width:187px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:37px;
  top:336px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
