body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:326px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:56px;
  width:70px;
  height:60px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:127px;
  width:750px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:1246px;
  width:750px;
  height:88px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u17 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:142px;
  top:1267px;
  width:61px;
  height:50px;
  font-size:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:233px;
  top:1275px;
  width:77px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:540px;
  top:1246px;
  width:10px;
  height:88px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u23 {
  position:absolute;
  left:595px;
  top:1275px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:147px;
  width:750px;
  height:186px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:186px;
}
#u26 {
  position:absolute;
  left:2px;
  top:85px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:74px;
  top:174px;
  width:66px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:672px;
  top:208px;
  width:58px;
  height:63px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:333px;
  width:750px;
  height:220px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:220px;
}
#u32 {
  position:absolute;
  left:2px;
  top:102px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:647px;
  width:750px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:734px;
  width:750px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u35 {
  position:absolute;
  left:44px;
  top:597px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:44px;
  top:687px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:630px;
  top:574px;
  width:80px;
  height:63px;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:63px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:526px;
  top:593px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:181px;
  top:685px;
  width:265px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:154px;
  top:174px;
  width:141px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:21px;
  top:219px;
  width:46px;
  height:37px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:37px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:77px;
  top:226px;
  width:509px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:56px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:305px;
  top:174px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:20px;
  top:363px;
  width:160px;
  height:160px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u54 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:218px;
  top:364px;
  width:177px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:218px;
  top:405px;
  width:313px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:218px;
  top:446px;
  width:100px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:218px;
  top:490px;
  width:77px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:698px;
  top:490px;
  width:33px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:-1px;
  top:820px;
  width:750px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u66 {
  position:absolute;
  left:44px;
  top:772px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:634px;
  top:754px;
  width:80px;
  height:63px;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:63px;
}
#u69 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:165px;
  top:774px;
  width:385px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:26px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:7px;
  top:39px;
  width:123px;
  height:91px;
  overflow:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:630px;
  top:174px;
  width:110px;
  height:116px;
  overflow:hidden;
}
#u73_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:20px;
  top:343px;
  width:720px;
  height:200px;
  overflow:hidden;
}
#u74_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:634px;
  top:728px;
  width:110px;
  height:116px;
  overflow:hidden;
}
#u75_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
