body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:220px;
  top:280px;
  width:290px;
  height:280px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:280px;
}
#u4 {
  position:absolute;
  left:2px;
  top:132px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:660px;
  width:590px;
  height:65px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:70px;
  top:775px;
  width:590px;
  height:65px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:70px;
  top:894px;
  width:590px;
  height:62px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:62px;
}
#u8 {
  position:absolute;
  left:2px;
  top:23px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:353px;
  top:908px;
  width:57px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:475px;
  top:1017px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:210px;
  top:1020px;
  width:100px;
  height:24px;
  font-size:20px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:70px;
  top:890px;
  width:590px;
  height:70px;
  overflow:hidden;
}
#u17_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:450px;
  top:1009px;
  width:130px;
  height:40px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:370px;
  top:1000px;
  width:10px;
  height:49px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:32px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:49px;
}
