body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:313px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:37px;
  top:58px;
  width:70px;
  height:50px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:126px;
  width:750px;
  height:88px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:160px;
  top:156px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:551px;
  top:156px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:370px;
  top:146px;
  width:10px;
  height:54px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:37px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:54px;
}
#u19 {
  position:absolute;
  left:476px;
  top:204px;
  width:200px;
  height:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:213px;
  width:750px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:232px;
  width:750px;
  height:88px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u24 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:20px;
  top:256px;
  width:70px;
  height:40px;
  font-size:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:660px;
  top:256px;
  width:56px;
  height:40px;
  font-size:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:319px;
  width:750px;
  height:88px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u30 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:343px;
  width:70px;
  height:40px;
  font-size:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:660px;
  top:343px;
  width:56px;
  height:40px;
  font-size:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:406px;
  width:750px;
  height:88px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u36 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:430px;
  width:70px;
  height:40px;
  font-size:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:660px;
  top:430px;
  width:56px;
  height:40px;
  font-size:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:493px;
  width:750px;
  height:88px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u42 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:517px;
  width:70px;
  height:40px;
  font-size:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:660px;
  top:517px;
  width:56px;
  height:40px;
  font-size:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:624px;
  top:57px;
  width:70px;
  height:58px;
  font-size:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:39px;
  width:150px;
  height:88px;
  overflow:hidden;
}
#u49_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:584px;
  top:42px;
  width:150px;
  height:88px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:90px;
  top:126px;
  width:250px;
  height:88px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
