body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:47px;
  width:80px;
  height:70px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:326px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:30px;
  top:366px;
  width:640px;
  height:60px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:30px;
  top:276px;
  width:640px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:540px;
  top:170px;
  width:130px;
  height:60px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:126px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:456px;
  width:361px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:170px;
  width:500px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:120px;
  top:175px;
  width:10px;
  height:50px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u21 {
  position:absolute;
  left:43px;
  top:186px;
  width:41px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:160px;
  top:186px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:52px;
  top:292px;
  width:289px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:10px;
  top:39px;
  width:100px;
  height:78px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:43px;
  top:366px;
  width:617px;
  height:60px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
