<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bettbio.core.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.bettbio.core.model.SysUser">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
    <result column="IS_DISABLE" jdbcType="INTEGER" property="isDisable" />
    <result column="JOB_NUMBER" jdbcType="VARCHAR" property="jobNumber" />
    <result column="ROLE_IDS" jdbcType="VARCHAR" property="roleIds" />
  </resultMap>
  
  <sql id="selectAllField">
  		SELECT ID,ACCOUNT,PASSWORD,CODE,NAME,SEX,PHONE,EMAIL,QQ,CREATE_DATE,IS_DELETED,IS_DISABLE,JOB_NUMBER,ROLE_IDS FROM SYS_USER
  </sql>
 
   <sql id="selectCount">
  		SELECT COUNT(1) FROM SYS_USER
  </sql> 
  
  <select id="findSysUserByLogin" parameterType="com.bettbio.core.model.SysUser" resultMap="BaseResultMap">
  		<include refid="selectAllField"></include>
  		WHERE (ACCOUNT = #{account} OR JOB_NUMBER = #{account})
  </select>
  
  <select id="login" parameterType="com.bettbio.core.model.SysUser" resultMap="BaseResultMap">
  		<include refid="selectAllField"></include>
  		WHERE (ACCOUNT = #{account} OR JOB_NUMBER = #{account}) AND PASSWORD = #{password} AND IS_DELETED = 1
  </select>
  
  <select id="findByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
  		<include refid="selectAllField"></include>
  		WHERE ACCOUNT = #{account}
  		LIMIT 1
  </select>
  
  <select id="findByJobNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
  		<include refid="selectAllField"></include>
  		WHERE JOB_NUMBER = #{account}
  		LIMIT 1
  </select>
  
  <select id="selectCountByPage" parameterType="java.util.Map" resultType="java.lang.Integer">
		<include refid="selectCount"></include>
		WHERE IS_DELETED = 1
  </select>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		<include refid="selectAllField"></include>
		WHERE IS_DELETED = 1
  		LIMIT #{startRow},#{row}
  </select>
  
  <insert id="add" parameterType="com.bettbio.core.model.SysUser">
  		INSERT INTO SYS_USER VALUES(NULL,#{account},#{password},#{code},#{name},#{sex},#{phone},#{email},#{qq},NOW(),1,1,#{jobNumber},#{roleIds})
  </insert>
  
  <update id="deleteSysUser" parameterType="java.lang.Integer">
  		UPDATE SYS_USER 
  		SET	
  			IS_DELETED = 0
  		WHERE ID = #{id}
  </update>
  
  <update id="disableSysUser" parameterType="java.util.Map">
  		UPDATE SYS_USER 
  		SET	
  			IS_DISABLE = #{disable}
  		WHERE ID = #{id}
  </update>
</mapper>