body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:410px;
  width:750px;
  height:830px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:830px;
}
#u7 {
  position:absolute;
  left:2px;
  top:407px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:106px;
  top:49px;
  width:504px;
  height:70px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:106px;
  top:49px;
  width:64px;
  height:72px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:72px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:41px;
  width:510px;
  height:79px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:126px;
  width:750px;
  height:284px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:284px;
}
#u15 {
  position:absolute;
  left:2px;
  top:134px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:15px;
  top:68px;
  width:90px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:126px;
  width:750px;
  height:264px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:264px;
}
#u19 {
  position:absolute;
  left:2px;
  top:116px;
  width:746px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:390px;
  width:750px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:630px;
  top:58px;
  width:60px;
  height:51px;
  font-size:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:460px;
  width:122px;
  height:110px;
  font-size:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:110px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:118px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:166px;
  top:460px;
  width:122px;
  height:110px;
  font-size:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:110px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:118px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:310px;
  top:460px;
  width:122px;
  height:110px;
  font-size:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:110px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:118px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:448px;
  top:460px;
  width:122px;
  height:110px;
  font-size:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:110px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:118px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:596px;
  top:460px;
  width:122px;
  height:110px;
  font-size:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:110px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:118px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:630px;
  width:750px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u35 {
  position:absolute;
  left:30px;
  top:660px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:720px;
  width:750px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:740px;
  width:750px;
  height:210px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:210px;
}
#u40 {
  position:absolute;
  left:2px;
  top:97px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:-1px;
  top:950px;
  width:750px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:30px;
  top:1080px;
  width:170px;
  height:160px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:160px;
}
#u44 {
  position:absolute;
  left:2px;
  top:72px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:1030px;
  width:750px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u46 {
  position:absolute;
  left:30px;
  top:983px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:0px;
  top:1236px;
  width:750px;
  height:98px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:98px;
}
#u49 {
  position:absolute;
  left:2px;
  top:41px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:30px;
  top:1250px;
  width:70px;
  height:70px;
  font-size:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:225px;
  top:1250px;
  width:70px;
  height:70px;
  font-size:22px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:430px;
  top:1250px;
  width:70px;
  height:70px;
  font-size:22px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:620px;
  top:1250px;
  width:70px;
  height:70px;
  font-size:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u57 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:200px;
  top:1236px;
  width:110px;
  height:98px;
  overflow:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:98px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:410px;
  top:1236px;
  width:110px;
  height:98px;
  overflow:hidden;
}
#u59_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:98px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:610px;
  top:1240px;
  width:100px;
  height:94px;
  overflow:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
