body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:313px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:50px;
  width:70px;
  height:60px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:290px;
  top:210px;
  width:180px;
  height:180px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u15 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:330px;
  top:434px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:630px;
  width:750px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:635px;
  width:750px;
  height:88px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u20 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:723px;
  width:750px;
  height:88px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u22 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:-1px;
  top:811px;
  width:750px;
  height:88px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u24 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:660px;
  width:45px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:40px;
  top:754px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:40px;
  top:842px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:10px;
  top:36px;
  width:90px;
  height:88px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
