body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:50px;
  width:70px;
  height:60px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:640px;
  top:72px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:209px;
  width:750px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u17 {
  position:absolute;
  left:360px;
  top:127px;
  width:10px;
  height:88px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u18 {
  position:absolute;
  left:150px;
  top:162px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:540px;
  top:162px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:74px;
  top:209px;
  width:200px;
  height:6px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:6px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:462px;
  width:750px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u25 {
  position:absolute;
  left:30px;
  top:249px;
  width:200px;
  height:200px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u26 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:270px;
  top:331px;
  width:281px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:270px;
  top:249px;
  width:193px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:270px;
  top:295px;
  width:313px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:280px;
  top:413px;
  width:79px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:270px;
  top:372px;
  width:24px;
  height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:315px;
  top:372px;
  width:24px;
  height:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:357px;
  top:372px;
  width:32px;
  height:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:400px;
  top:372px;
  width:24px;
  height:24px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:597px;
  top:398px;
  width:32px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:587px;
  top:384px;
  width:90px;
  height:58px;
  font-size:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:480px;
  top:249px;
  width:81px;
  height:36px;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:720px;
  width:750px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u50 {
  position:absolute;
  left:30px;
  top:507px;
  width:200px;
  height:200px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u51 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:270px;
  top:589px;
  width:281px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:24px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:270px;
  top:507px;
  width:193px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:270px;
  top:553px;
  width:313px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:280px;
  top:671px;
  width:79px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:270px;
  top:630px;
  width:24px;
  height:24px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:315px;
  top:630px;
  width:24px;
  height:24px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:357px;
  top:630px;
  width:32px;
  height:24px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:400px;
  top:630px;
  width:24px;
  height:24px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u67 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:597px;
  top:663px;
  width:32px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:587px;
  top:649px;
  width:90px;
  height:58px;
  font-size:22px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:58px;
}
#u71 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:480px;
  top:507px;
  width:81px;
  height:36px;
  font-size:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:215px;
  width:750px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:469px;
  width:750px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:726px;
  width:750px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:39px;
  width:150px;
  height:88px;
  overflow:hidden;
}
#u80_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:590px;
  top:42px;
  width:150px;
  height:88px;
  overflow:hidden;
}
#u81_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u81_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82 {
  position:absolute;
  left:473px;
  top:127px;
  width:200px;
  height:88px;
  overflow:hidden;
}
#u82_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:30px;
  top:242px;
  width:540px;
  height:200px;
  overflow:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:580px;
  top:372px;
  width:109px;
  height:87px;
  overflow:hidden;
}
#u84_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u84_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
