body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1800px;
  font-size:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1800px;
}
#u7 {
  position:absolute;
  left:2px;
  top:892px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:168px;
  width:391px;
  height:32px;
  font-size:26px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:105px;
  top:228px;
  width:89px;
  height:26px;
  font-size:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:229px;
  top:228px;
  width:204px;
  height:26px;
  font-size:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:27px;
  top:660px;
  width:707px;
  height:626px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:626px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:30px;
  top:270px;
  width:680px;
  height:360px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:360px;
}
#u17 {
  position:absolute;
  left:2px;
  top:172px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:1296px;
  width:750px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u19 {
  position:absolute;
  left:31px;
  top:218px;
  width:60px;
  height:45px;
  font-size:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:1420px;
  width:750px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:220px;
  top:1320px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:17px;
  top:1470px;
  width:147px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:1523px;
  width:750px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u28 {
  position:absolute;
  left:27px;
  top:1550px;
  width:83px;
  height:80px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:28px;
  width:79px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:141px;
  top:1562px;
  width:66px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:141px;
  top:1600px;
  width:29px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-1px;
  width:25px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:184px;
  top:1607px;
  width:72px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:430px;
  top:1320px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:370px;
  top:1335px;
  width:10px;
  height:50px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u39 {
  position:absolute;
  left:27px;
  top:1660px;
  width:457px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:1710px;
  width:750px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u43 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:17px;
  top:50px;
  width:74px;
  height:70px;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:322px;
  top:69px;
  width:105px;
  height:32px;
  font-size:26px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:587px;
  top:72px;
  width:147px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:26px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:7px;
  top:39px;
  width:93px;
  height:88px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:630px;
  top:50px;
  width:93px;
  height:88px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
