body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:326px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:56px;
  width:70px;
  height:60px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:300px;
  width:750px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u15 {
  position:absolute;
  left:50px;
  top:152px;
  width:217px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:50px;
  top:202px;
  width:381px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:50px;
  top:254px;
  width:306px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:50px;
  top:354px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:306px;
  width:750px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:440px;
  width:43px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:47px;
  top:480px;
  width:10px;
  height:100px;
}
#u27_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u27_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u27_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u28 {
  position:absolute;
  left:31px;
  top:580px;
  width:43px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:47px;
  top:620px;
  width:10px;
  height:110px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u31 {
  position:absolute;
  left:31px;
  top:730px;
  width:43px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:392px;
  width:750px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u34 {
  position:absolute;
  left:110px;
  top:440px;
  width:595px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:52px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:103px;
  top:553px;
  width:602px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:585px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:602px;
  height:1px;
}
#u37 {
  position:absolute;
  left:110px;
  top:518px;
  width:207px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:114px;
  top:590px;
  width:595px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:52px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:106px;
  top:703px;
  width:602px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:585px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:602px;
  height:1px;
}
#u42 {
  position:absolute;
  left:114px;
  top:668px;
  width:207px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:113px;
  top:738px;
  width:595px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:52px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:106px;
  top:851px;
  width:602px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:585px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:602px;
  height:1px;
}
#u47 {
  position:absolute;
  left:113px;
  top:816px;
  width:207px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:48px;
  top:770px;
  width:10px;
  height:110px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u50 {
  position:absolute;
  left:31px;
  top:871px;
  width:43px;
  height:40px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:113px;
  top:879px;
  width:595px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:52px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:106px;
  top:992px;
  width:602px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:585px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:602px;
  height:1px;
}
#u55 {
  position:absolute;
  left:113px;
  top:957px;
  width:207px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:48px;
  top:911px;
  width:10px;
  height:110px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u58 {
  position:absolute;
  left:31px;
  top:1014px;
  width:43px;
  height:40px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:113px;
  top:1022px;
  width:595px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:52px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:106px;
  top:1135px;
  width:602px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:585px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:602px;
  height:1px;
}
#u63 {
  position:absolute;
  left:113px;
  top:1100px;
  width:207px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:48px;
  top:1054px;
  width:10px;
  height:110px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u66 {
  position:absolute;
  left:31px;
  top:1155px;
  width:43px;
  height:40px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:113px;
  top:1163px;
  width:595px;
  height:52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:52px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:106px;
  top:1276px;
  width:602px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:585px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:602px;
  height:1px;
}
#u71 {
  position:absolute;
  left:113px;
  top:1241px;
  width:207px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:26px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:48px;
  top:1195px;
  width:10px;
  height:145px;
}
#u73_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u73_end {
  position:absolute;
  left:-5px;
  top:128px;
  width:20px;
  height:18px;
}
#u73_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:145px;
}
#u74 {
  position:absolute;
  left:30px;
  top:30px;
  width:110px;
  height:100px;
  overflow:hidden;
}
#u74_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
