<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- spring工具类 方便在非spring管理环境中获取bean -->
	<bean id="springUtils" class="com.bettbio.core.common.utils.SpringUtils" />

	<!-- 设置默认的文件上传路径 -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="com.bettbio.core.common.web.upload.FileUploadUtils.setDefaultBaseDir" />
		<property name="arguments" value="${file.upload.dir}" />
	</bean>

	<!-- Email -->
	<bean id="freemarkerMailConfiguration"
		class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="/templates/email" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- configured in systems.properties -->
		<property name="protocol" value="${mailSender.protocol}" />
		<property name="host" value="${mailSender.host}" />
		<property name="port" value="${mailSender.port}" />
		<property name="username" value="${mailSender.username}" />
		<property name="password" value="${mailSender.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
			</props>
		</property>
	</bean>

	<!-- Asyn send Eamil -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="30" />
	</bean>

	<bean id="emailConfig" class="com.bettbio.core.common.email.EmailConfig">
		<property name="protocol" value="${mailSender.protocol}" />
		<property name="host" value="${mailSender.host}" />
		<property name="port" value="${mailSender.port}" />
		<property name="username" value="${mailSender.username}" />
		<property name="password" value="${mailSender.password}" />
		<property name="smtpAuth" value="${mail.smtp.auth}" />
		<property name="starttls" value="${mail.smtp.starttls.enable}" />
	</bean>


	<bean id="htmlEmailSender" class="com.bettbio.core.common.email.HtmlEmailSenderImpl">
		<property name="mailSender" ref="mailSender" />
		<property name="freemarkerMailConfiguration" ref="freemarkerMailConfiguration" />
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="emailConfig" ref="emailConfig" />
	</bean>
	
	<bean id="asyncTaskService" class="com.bettbio.core.common.service.async.AsyncTaskService">
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>
	
	<bean id="EmailService" class="com.bettbio.core.common.service.email.EmailService">
		<property name="htmlEmailSender" ref="htmlEmailSender" />
	</bean>
	
</beans>
