body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u3 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:1295px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1295px;
}
#u7 {
  position:absolute;
  left:2px;
  top:640px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:750px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:72px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:50px;
  width:70px;
  height:60px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:640px;
  top:72px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:209px;
  width:750px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u17 {
  position:absolute;
  left:360px;
  top:127px;
  width:10px;
  height:88px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u18 {
  position:absolute;
  left:150px;
  top:162px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:540px;
  top:162px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:464px;
  top:209px;
  width:200px;
  height:6px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:6px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:410px;
  width:750px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u25 {
  position:absolute;
  left:20px;
  top:249px;
  width:140px;
  height:140px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u26 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:180px;
  top:271px;
  width:337px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:180px;
  top:317px;
  width:24px;
  height:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:225px;
  top:317px;
  width:24px;
  height:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:267px;
  top:317px;
  width:32px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:310px;
  top:317px;
  width:24px;
  height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:533px;
  top:263px;
  width:81px;
  height:36px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:215px;
  width:750px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:416px;
  width:750px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:460px;
  width:140px;
  height:140px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u44 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:180px;
  top:482px;
  width:337px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:180px;
  top:528px;
  width:24px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:225px;
  top:528px;
  width:24px;
  height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:267px;
  top:528px;
  width:32px;
  height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:310px;
  top:528px;
  width:24px;
  height:24px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:533px;
  top:474px;
  width:81px;
  height:36px;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:615px;
  width:750px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:660px;
  top:236px;
  width:10px;
  height:180px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:163px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:180px;
}
#u60 {
  position:absolute;
  left:660px;
  top:436px;
  width:10px;
  height:180px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:163px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:180px;
}
#u61 {
  position:absolute;
  left:681px;
  top:312px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:681px;
  top:510px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:10px;
  top:39px;
  width:90px;
  height:88px;
  overflow:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:630px;
  top:42px;
  width:90px;
  height:88px;
  overflow:hidden;
}
#u66_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:30px;
  top:127px;
  width:320px;
  height:88px;
  overflow:hidden;
}
#u67_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
